*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "superkids";
  src: url(Super\ Kinds.ttf);
}

.logo {
  font-family: "superkids";
  font-size: 32px;
  color: #eef2e2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  background-color: #0093ce;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #eef2e2;
  font-weight: 600;
  padding: 8px;
  transition: all;
  transition-duration: 500ms;
  border-bottom: 1px solid #00000000;
}

nav ul li a:hover {
  border-bottom: 1px solid #ffda33;
}

.menu-icon {
  font-size: 28px;
  display: none;
}
@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}

.scroll-container {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  padding: 50px;
  gap: 2rem;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 300s ease-in-out;
  transition: all;
  transition-duration: 500ms;
}

.profile-card:hover {
  transform: scale(1.12);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #4070f4;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.text-data .name {
  font-size: 22px;
  font-weight: 500;
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
  align-content: center;
  padding-top: 2px;
}
.text-data .jobdesk {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.heading {
  padding: 80px 0px 1rem 3cm;
}

.container {
  padding: 200px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #0093ce;
  border-bottom: 3px solid #0093ce;
  display: inline-block;
  margin-bottom: 20px;
}

.content.p {
  font-size: 25px;
  color: #000000;
  line-height: 1.6;
  word-spacing: 3px;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main > section {
  height: 100vh;
  background: #fff;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

main > #section-2 .head {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  padding-top: 80px;
}
